{% extends "layout.html" %}
{% block content %}

{% if matches %}
  {% for match in matches %}
  <article class="media content-section">
    <div class="media-body">
      <h2>Match for {{ match.language }}</h2>
      <!-- <h5>{{ match.user.username }}</h5> --> 
      <p class="article-content"> </p>
      <form action="{{ url_for('chatroom', target_id=match.user.id) }}" method="GET">
        <input class="btn btn-danger" type="submit" value="Send Messages">
      </form>
      <!-- -->
    </div>
    <div class="media">
         <img class="rounded-circle account-img" src="{{  url_for('static', filename='profile_pics/' + match.user.image_file) }}">
         <div class="media-body">
           <h2 class="account-heading">{{ match.user.username }}</h2>
           <p class="text-secondary">{{ match.user.email }}</p>
         </div>
       </div>
  </article>
  {% endfor %}
{% elif user.language_learn|length > 0 %}
<article class="media content-section">
  <div class="media-body">
    <h2>Status</h2>
    <p class="article-content">
      Your application is being mached with other users
    </p>
    <h5>Language</h5>
    {% for language in user.language_learn %}
      {{ language }},
    {% endfor %}
  </div>
</article>
{% else %}
<article class="media content-section">
<div class="media-body">
  <h2>Spesify a language to learn</h2>
  <p class="article-content">
    Go to the Profile page and choose a language you would like to learn.
  </p>
</div>
</article>
{% endif %}


{% endblock content %}
