{% extends "layout.html" %}
{% block content %}

{% if matches %}
  {% for match in matches %}
  <article class="media content-section">
    <div class="media-body">
      <h2>Match for {{match.language}}</h2>
      <h5>{{match.name}}</h5>
      <p class="article-content"> </p>
      <button>Send message</button>
      <button>Decline</button>
    </div>
  </article>
  {% endfor %}
{% else %}
<article class="media content-section">
  <div class="media-body">
    <h2>Status</h2>
    <p class="article-content">
      Your application is being mached with other users
    </p>
    <h5>Language</h5>
    {{ user.language_learn }}
  </div>
</article>
{% endif %}


{% endblock content %}
